body {
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Roboto", sans-serif;
}

.navbar-brand img {
  width: 150px;
}

#content {
  min-height: 65vh;
}

#footer {
  color: #bebebe;
}

.breadcrumb {
  line-height: 1.1;
  size: 0.35rem;
}

.ledger-card {
  color: #212529;
}

.ledger-card .image img {
  display: block;
  width: 100%;
}

.ledger-card .name label,
.ledger-card .currency label,
.ledger-card .expenses label {
  font-weight: bold;
}

.ledger-card .name span,
.ledger-card .currency span,
.ledger-card .expenses span {
  float: right;
}

