body {
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.navbar-brand img {
    width: 150px;
}

#content {
    min-height: 65vh;
}

#footer {
    color: #bebebe;
}

.breadcrumb {
    line-height: 1.1;
    size: 0.35rem;
}

.ledger-card {
    color: #212529;
    .image {
        img {
            display: block;
            width: 100%;
        }
    }
    .name, .currency, .expenses {
        label {
            font-weight: bold;
        }
        span {
            float: right;
        }
    }
}

.btn-group-xs > .btn, .btn-xs {
    padding: 0.3rem 0.3rem;
    font-size: 0.55rem;
    line-height: 0.5;
    border-radius: 0.2rem;
}

.row-table div.row:nth-child(even) {
    background-color: #f8f9fa
}
