body {
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.navbar-brand img {
    width: 150px;
}

#content {
    min-height: 65vh;
}

#footer {
    color: #bebebe;
}

.breadcrumb {
    line-height: 1.2;
    size: 0.5rem;
}

.ledger-card {
    color: #212529;
    .image {
        img {
            display: block;
            width: 100%;
        }
    }
    .name, .currency, .expenses {
        label {
            font-weight: bold;
        }
        span {
            float: right;
        }
    }
}
